body{
    background: #000000;
    color: #fcfafa;
    text-align: center;
    background: url("../img/rick.jpg");
    
}
h1{
    font-size: 60px;
}
button{
    padding: 7px 35px;
    background: #0e0e47;
    border: 1px solid #fffefe;
    color: #fcfcfc;
    font-size: 26px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}

button:hover{
    background: transparent;
    color: #edf3ef;
    border: 1px solid #ffffff;
    border-radius: 0;
}